" Numbers
set number 
set relativenumber

" Escape and save keybidings 
imap jk <Esc>
nnoremap <S-w> :w<CR>

" Set sane split defaults
set splitright splitbelow

" Set leader
let mapleader = ' '

" Quicker navigation
nnoremap <A-h> :tabp<CR>
nnoremap <A-l> :tabn<CR>

" Open file in split and move
nmap <leader>sr <Action>(MoveTabRight)

" Move file to opposite tab group
nmap <leader>so <Action>(MoveEditorToOppositeTabGroup)

" Maximise/restore current split (relies on TabShifter plugin)
nmap <leader>sf <Action>(TabShiftActions.ToggleMaximizeRestore)

" Splits
map <C-h> <C-w>h
map <C-j> <C-w>j
map <C-k> <C-w>k
map <C-l> <C-w>l

" Replace all is aliased to S.
nnoremap S :%s//g<Left><Left>

" Mute bell 
set visualbell
